# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: 'composer'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'saturday'
    allow:
      - dependency-type: 'all'
    versioning-strategy: 'auto'
    labels: [ 'dependencies' ]
    commit-message:
      ## prefix maximum string length of 15
      prefix: 'composer'
      include: 'scope'
    open-pull-requests-limit: 999

  - directory: '/tools/composer-normalize'
    package-ecosystem: 'composer'
    schedule:
      interval: 'weekly'
      day: 'saturday'
    allow:
      - dependency-type: 'all'
    versioning-strategy: 'auto'
    labels: [ 'dependencies', 'tools' ]
    commit-message:
      ## prefix maximum string length of 15
      prefix: 'tools'
      include: 'scope'
    open-pull-requests-limit: 999
  - directory: '/tools/composer-require-checker'
    package-ecosystem: 'composer'
    schedule:
      interval: 'weekly'
      day: 'saturday'
    allow:
      - dependency-type: 'all'
    versioning-strategy: 'auto'
    labels: [ 'dependencies', 'tools' ]
    commit-message:
      ## prefix maximum string length of 15
      prefix: 'tools'
      include: 'scope'
    open-pull-requests-limit: 999
  - directory: '/tools/composer-unused'
    package-ecosystem: 'composer'
    schedule:
      interval: 'weekly'
      day: 'saturday'
    allow:
      - dependency-type: 'all'
    versioning-strategy: 'auto'
    labels: [ 'dependencies', 'tools' ]
    commit-message:
      ## prefix maximum string length of 15
      prefix: 'tools'
      include: 'scope'
    open-pull-requests-limit: 999
  - directory: '/tools/php-cs-fixer'
    package-ecosystem: 'composer'
    schedule:
      interval: 'weekly'
      day: 'saturday'
    allow:
      - dependency-type: 'all'
    versioning-strategy: 'auto'
    labels: [ 'dependencies', 'tools' ]
    commit-message:
      ## prefix maximum string length of 15
      prefix: 'tools'
      include: 'scope'
    open-pull-requests-limit: 999
  - directory: '/tools/psalm'
    package-ecosystem: 'composer'
    schedule:
      interval: 'weekly'
      day: 'saturday'
    allow:
      - dependency-type: 'all'
    versioning-strategy: 'auto'
    labels: [ 'dependencies', 'tools' ]
    commit-message:
      ## prefix maximum string length of 15
      prefix: 'tools'
      include: 'scope'
    open-pull-requests-limit: 999

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'saturday'
    labels: [ 'dependencies', 'CI' ]
    commit-message:
      ## prefix maximum string length of 15
      prefix: 'gh-actions'
      include: 'scope'
    open-pull-requests-limit: 999
