* text=auto

*.txt         text eol=lf
*.md          text eol=lf diff=markdown
*.php         text eol=lf diff=php
*.json        text eol=lf diff=json
*.xml         text eol=lf diff=xml
*.xml.dist    text eol=lf diff=xml
*.xsd         text eol=lf diff=xml
*.neon        text eol=lf diff=yaml
*.neon.dist   text eol=lf diff=yaml
composer.lock text eol=lf diff=json

# files that are not bundled into the "dist" release are marked `export-ignore`
.gitattributes          export-ignore
.gitignore              export-ignore
.editorconfig           export-ignore
/.github                export-ignore
/tests                  export-ignore
/tools                  export-ignore
/.php-cs-fixer.dist.php export-ignore
/phpunit.xml.dist       export-ignore
/psalm.xml.dist         export-ignore
/.psalm                 export-ignore
/HISTORY.md             export-ignore
/CODEOWNERS             export-ignore
/demo                   export-ignore
/docs/decisions         export-ignore
