<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__.'/src')
    ->in(__DIR__.'/tests')
    ->append([__FILE__])
;

$config = new PhpCsFixer\Config();

return $config
    ->setUsingCache(true)
    ->setRules([
        '@PHP73Migration' => true,
        '@Symfony' => true,
        'phpdoc_order' => true,
    ])
    ->setRiskyAllowed(true)
    ->setFinder($finder)
;
