<?xml version="1.0"?>
<psalm xmlns="https://getpsalm.org/schema/config"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="https://getpsalm.org/schema/config tools/psalm/vendor/vimeo/psalm/config.xsd"
       errorLevel="1"
       checkForThrowsDocblock="true"
       findUnusedPsalmSuppress="true"
       ensureArrayStringOffsetsExist="true"
       ensureArrayIntOffsetsExist="true"
       cacheDirectory=".psalm.cache"
>
    <projectFiles>
        <directory name="src"/>
        <ignoreFiles>
            <!-- deserializers are in experimental state-->
            <file name="src/Serialize/JsonDeserializer.php"/>
            <file name="src/Serialize/XmlDeserializer.php"/>
        </ignoreFiles>
    </projectFiles>
    <extraFiles>

    </extraFiles>
</psalm>
